<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% include "nunjucks/partials/technical/style.njk" %}

</head>

<body class="body-page-{{ pageClass }}">
    <main class="main-page-{{ pageClass }}">
        {% block content %}{% endblock %}
    </main>
    {% include "nunjucks/partials/technical/script.njk" %}
</body>

</html>